@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
    /* fonts */
    --ff-header: "Poppins", sans-serif; /* 400, 600 */
    --ff-body: "Open Sans", sans-serif; /* 400 */

    /* Colors */
    --clr-neutral-white: #fff;

    --clr-primary-violet: hsl(257, 40%, 49%);
    --clr-primary-solf-magenta: hsl(300, 69%, 71%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-family: var(--ff-body);
}

#page-wrap {
    background-image: url("../images/bg-mobile.svg");
    background-color: var(--clr-primary-violet);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -3rem center;
}

.header, .main, .footer {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

.header {
    margin-top: calc(25rem / 16);
    margin-bottom: calc(50rem / 16);    
}

/* Images */
.img-logo,
.img-main {
    max-width: 100%;
}

.content {
    text-align: center;
    color: var(--clr-neutral-white);
    margin-top: calc(55rem / 16);
}

@media (min-width: 915px) {
    #page-wrap {
        background-image: url("../images/bg-desktop.svg");
    }

    .main {
        display: flex;
    }

    .content {
        padding: calc(40rem / 16) 0 0 calc(35rem / 16);
        text-align: left;
        margin: 0;
    }
}

.title,
.paragraph,
.submit-btn {
    margin: 1rem 0;
}

.title {
    margin-top: 0;

    font-size: 1.9rem;
    font-weight: 600;
    font-family: var(--ff-header);
    text-transform: capitalize;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.8rem;
}

.btn {
    cursor: pointer;
}

.btn:focus,
.btn:hover {
    background-color: var(--clr-primary-solf-magenta);
    color: var(--clr-neutral-white);
    transition: .3s;
}

.submit-btn {
    padding: 1rem 5rem;

    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    background-color: var(--clr-neutral-white);
    color: var(--clr-primary-violet);
    box-shadow: .1rem -.1rem .2rem #000, .1rem .1rem .1rem #000;
}

/* Footer */
.footer {
    position: relative;
}

.attribution {
    display: none;
}

.attribution a {
    color: var(--clr-primary-solf-magenta);
}

.icons-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 5rem 0;
}

@media (min-width: 915px) {
    .icons-box {
        justify-content: flex-end;
        margin-right: 3rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .title,
    .paragraph,
    .submit-btn {
        margin: .5rem 0;
    }

    .attribution {
        display: block;
        position: absolute;
        color: var(--clr-neutral-white);
        transform: translateY(50%);
    }
}

.icons-link {
    min-width: 2.5rem;
    min-height: 2.5rem;
    display: grid;
    place-items: center;

    border: 1px solid var(--clr-neutral-white);
    color: var(--clr-neutral-white);
    border-radius: 50%;
    outline: none;
    font-size: 1.2rem;
}

.icons-link:focus,
.icons-link:hover {
    border: 1px solid var(--clr-primary-solf-magenta);
    color: var(--clr-primary-solf-magenta);
    transition: .3s;
}

.submit-btn:active,
.icons-link:active {
    transform: translateY(4px) translateX(4px);
}