@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
	/* fonts */
	--ff-header: 'Poppins', sans-serif; /* 400, 600 */
	--ff-body:'Open Sans', sans-serif; /* 400 */

	/* Colors */
	--clr-neutral-white: #fff;

	--clr-primary-violet: hsl(257, 40%, 49%);
	--clr-primary-solf-magenta: hsl(300, 69%, 71%);

	/*outline*/
	--outline: 2px solid black;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
	font-family: var(--ff-body);
}

#page-wrap {
	background-image: url("../images/bg-mobile.svg");
	background-color: var(--clr-primary-violet);
	background-repeat: no-repeat;
	background-size: cover;
}

/* Header */
.img-logo {
	background-image: url("../images/logo.svg");
	background-repeat: no-repeat;	
	background-size: contain;
	min-height: 3.5rem;
}

/* Main */
.img-main {
	background-image: url("../images/illustration-mockups.svg");
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
	width: min(85%, 100%);
	height: calc(241rem / 16);
}

.content  {
	text-align: center;
	color: var(--clr-neutral-white);
}

.title {
	font-size: 2rem;
	font-weight: 600;
	font-family: var(--ff-header);
}

.paragraph {
	line-height: 1.8rem;
}

.submit-btn {
	padding: 1rem 5rem;

	border: none;
	outline: none;
	border-radius: 2rem;
	background-color: var(--clr-neutral-white);
	color: var(--clr-primary-violet);
	box-shadow:
		.1rem .1rem .1rem #000;
}

/* Footer */
.icons-box {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.icons-btn {
	background-repeat: no-repeat;
	background-size: contain;
	min-width: calc(25rem / 16);
	height: 2rem;
}

.facebook-btn {
	background-image: url("../images/facebook-f.svg");	
}

.twitter-btn {
	background-image: url("../images/twitter.svg");	
}

.instagram-btn {
	background-image: url("../images/instagram.svg");	
}